.stretch-font {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.stretch-font__tmpl {
  top: 100%;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;

  box-sizing: inherit;
}
.stretch-font__tmpl >span {
  top: 0;
  left: 0;
  position: absolute;

  white-space: pre-line;
}
